<div class="w3-modal detail">
    <div class="w3-modal-content w3-animate-top w3-card-24">
        <header class="w3-container w3-teal">
            <h4 class="w3-closebtn closeDetail"><i class="fa fa-close"></i></h4>
            <h4>比赛详情</h4>
        </header>
        <div class="w3-container" style="overflow-y:scroll">
            <p><%=match.time%> VS <%=match.opponent%></p>
            <p>具体时间: <%=match.detailTime%></p>
            <p>具体地点: <%=match.location%></p>
            <table class="w3-table w3-striped w3-small" style="overflow-y:scroll">
                <tr>
                    <th>姓名</th>
                    <th>出席</th>
                </tr>
                <% _.each(members, function(member) {%>
                <tr class="matchrow" matchId="<%=match.id%>">
                    <td><%=member.name%></td>
                    <td>是</td>
                </tr>
                <% }); %>
            </table>
        </div>
        <div class="w3-container">
            <p>
                <label>是否出席</label>
                <input class="w3-check" type="checkbox">
            </p>
        </div>
        <footer class="w3-container w3-teal w3-center">
            <h6><button class="w3-btn w3-teal" style="width:100%">确认</button></h6>
        </footer>
    </div>
</div>