<div data-role="page" id="page-logIn">
    <div data-role="header">
        <h1>登陆</h1>
    </div>

    <div data-role="main" class="ui-content">
        <label>用户名:</label>
        <input type="text">
        <label><%=password%></label>
        <input type="text">
        <a href="#" class="ui-btn">登陆</a>
        <a href="#page-register" class="ui-btn">注册</a>
    </div>
</div>

<div data-role="page" id="page-register">
    <div data-role="header">
        <h1>注册</h1>
    </div>

    <div data-role="main" class="ui-content">
        <label>用户名:</label>
        <input type="text">
        <label>密码:</label>
        <input type="text">
        <label>重新出入密码:</label>
        <input type="text">
        <label>邮箱:</label>
        <input type="text">
        <a href="#" class="ui-btn">确定</a>
        <a href="#page-logIn" class="ui-btn">取消</a>
    </div>
</div>